*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background-color: #f4f4f4;
  color: #333333;
  line-height: 1.8rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  width: 95%;
  margin: 0 auto;
}
section {
  margin: 50px auto;
}
.btn {
  display: block;
  padding: 16px;
  width: 100%;
  margin: 20px auto;
  font-size: 1rem;
  cursor: pointer;
}
.header {
  min-height: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.header-left {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header-right {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__logo {
  max-width: 100%;
}
.header__link {
  display: inline-block;
}
.header__link a {
  text-decoration: none;
  color: #333333;
  padding: 5px 10px;
}
.header-right_btn, .header-left_link {
  display: none;
}
.header__link a:focus, .header__link a:hover {
  color: rgb(0,108,255);
}

.showcase {
  background: rgb(0,108,255);
  background: linear-gradient(90deg, rgba(0,108,255,1) 0%, rgba(86,207,233,0.8939950980392157) 99%);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f4f4f4;
}
.showcase-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}
.showcase-left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.showcase-right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.showcase-right {
  display: none;
}
.showase__title {
  margin-bottom: 20px;
}
.showcase-cta {
  width: 100%;
}
.btn--gold {
  background-color: rgb(255, 123, 0);
  border: 1px solid rgb(255, 123, 0);
  color: #ffffff;
}
.btn--white {
  background-color: transparent;
  border: 2px solid #f4f4f4;
  color: #ffffff;
}
.companies-md {
  display: none;
}
.companies-sm {
  margin-top: 30px;
  width: 100%;
}
.companies-sm small {
  text-align: center;
  display: block;
  padding-bottom: 20px;
}
.companies-sm .company {
  width: 100%;
  margin: 10px auto;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.company img {
  display: inline-block;
  margin: 0 5px;
}
.job-details {
  padding: 10px;
}
.boxes, .job-details {
  text-align: center;
}
.job-details__title {
  margin-bottom: 20px;
  text-align: center;
}
.about-it {
  margin: 30px auto;
}
.group {
  display: flex;
  margin-bottom: 20px;
}
.group img {
  margin-right: 20px;
}
.section-three {
  text-align: center;
}
.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: scroll;
  margin: 30px auto;
}
.project {
  width: 80%;
  margin: 0 20px;
  box-shadow: 10px 10px 5px #d8d5d5;
  background-color: #ffffff;
}
.project img {
  width: 300px;
}
.content {
  text-align: left;
  padding: 10px;
  width: 100%;
}
.work-done {
  text-align: center;
  margin: 100px auto;
}
.skills-md, .skills-lg {
  display: none;
}
.skills-sm {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  margin: 50px auto;
}
.skill {
  box-shadow: 7px 7px 7px #fff;
}
.sk {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
}
.bg {
  width: 100%;
  height: 300px;
}
.wrapper img {
  box-shadow: 2px 2px 2px #ccc;
  width: 100%;
  height: 100%;
}
.wrapper .sk-content {
  background-color: #fff;
  box-shadow: 2px 2px 2px #f4f4f4;
  padding: 20px;
}
.sk button {
  display: none;
}
.footer {
  background-color: #161e2c;
  color: #fff;
  padding: 10px 0;
  margin-top: 30px;
  font-size: .8rem;
}
.footer div {
  padding: 20px 0;
}
.footer h3 {
  padding: 10px 0;
}
.apps div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}
.footer .bdr {
  border-bottom: 1px solid #2b3340;
}
.footer a {
  color: #ccc;
  text-decoration: none;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  section {
    margin: 150px auto !important;
  }
  .header__link {
    margin: 0 10px;
  }
  .header-right {
    text-align: left;
  }
  .header-right_btn {
    display: inline-block;
    padding: 10px 20px;
    font-weight: bolder;
  }
  .showcase-wrapper {
    grid-template-columns: 60% 40%;
  }
  .showcase-left {
    margin-right: 30px;
  }
  .showase__title {
    font-size: 2.3rem;
    line-height: 2.5rem;
  }
  .showcase-left p {
    font-size: 1.1rem;
  }
  .showcase-right {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
  .showcase-right img {
    max-width: 100%;
  }
  .showcase-cta {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .showcase-cta .btn--gold {
    margin-right: 10px;
  }
  .btn {
    display: block;
    width: 90%;
  }
  .companies-sm {
    display: none;
  }
  .companies-md {
    width: 100%;
    margin: 30px auto;
    padding: 10px;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .job-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  .project img {
    width: 100%;
  }
  .skills-sm, .skills-lg {
    display: none;
  }
  .skills-md {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 100px 20px;
    grid-row-gap: 30px;
    margin: 50px auto;
    line-height: 1rem;
    font-size: .8rem;
  }
  .skill--image {
    margin-bottom: 10px;
  }
  .sk {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
  .footer__links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  .apps div {
    width: 100%;
  }
  .apps .mobile {
    display: block;
    width: 100%;
  }
  .footer .bdr {
    border-bottom: none;
  }
  .footer-wrapper {
    border-bottom: 1px solid #2b3340;
  }
}
@media (min-width: 961px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .header-left_link {
    display: inline-block;
  }
  .skills-sm, .skills-md {
    display: none;
  }
  .skills-lg {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 5px;
    grid-row-gap: 30px;
    margin: 50px auto;
    line-height: 1rem;
    font-size: .8rem;
  }
  .projects {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1175px) {
  .container {
    width: 90%;
  }
  .wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .wrapper {
    display: flex;
  }
  .wrapper .bg {
    width: 60%;
  }
  .wrapper img {
    width: 100%;
    height: 100%;
  }
  .wrapper.second .one {
    order: 1;
  }
  .sk button {
    display: block;
  }
  .sk-btn {
    background-color: rgb(0,108,255);
    padding: 10px 20px;
    outline: 0;
    border: 0;
    color: #fff;
    margin: 20px 0;
  }
  .header {
    grid-template-columns: 2fr 1fr;
  }
}
@media (min-width: 1200px) {
  .footer-wrapper {
    display: grid;
    grid-template-columns: 23% auto;
  }
}